COMPOSE_PROJECT_NAME=oh-my-go-eth

NETWORKS_DRIVER=bridge

VOLUMES_DRIVER=local

#### mysql ################

MYSQL_ROOT_PASSWORD=!QAZ2wsx

#### eth-service ################

ETH_SERVICE_LOG_LEVEL=INFO
ETH_SERVICE_RUN_MODE=dev
ETH_SERVICE_GIN_MODE=debug
ETH_SERVICE_SERVER_HOST=0.0.0.0
ETH_SERVICE_SERVER_PORT=40001
ETH_SERVICE_DATABASE_HOST=mysql
ETH_SERVICE_DATABASE_PORT=3306
ETH_SERVICE_DATABASE_SCHEMA=eth_service
ETH_SERVICE_DATABASE_USER=root
ETH_SERVICE_DATABASE_PASSWORD=!QAZ2wsx
ETH_SERVICE_ETH_DATA_SEED_URL=https://data-seed-prebsc-2-s3.binance.org:8545/